Repository stevermeister/addntravel: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint --fix, prettier --write

docs
  WHATAIKNOWS.md
Due: prettier --write

feat: integrate Google Places API with keyboard navigation
  .eslintrc.json
  .lintstagedrc.json
  MOBILE.md
  README.md
  TEST.md
  index.html
  package-lock.json
  package.json
  scripts/update-version.js
  src/App.tsx
  src/components/BottomNav.tsx
  src/components/DestinationForm.tsx
  src/components/SearchOverlay.tsx
  src/config/firebase.config.ts
  src/contexts/UIContext.tsx
  src/pages/Wishlist.tsx
  src/types/destination.ts
  src/utils/dataManager.ts
  tsconfig.json
  tsconfig.node.json
Due: tsc --noEmit, eslint --fix, prettier --write

edit/remove buttons on mobile
  src/components/ActionPanel.tsx
  src/components/DestinationCard.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

make login nicer
  src/components/DestinationCard.tsx
  src/pages/Login.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

icon update
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/travel-icon.svg
Due: none

favicon up
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
Due: none

cleanup
  MOBILE.md
  WHATAIKNOWS.md
Due: prettier --write

playwright env
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  tests/example.spec.ts
Due: tsc --noEmit, eslint --fix, prettier --write

cleanup
  TEST.md
Due: prettier --write

fixed search icon on mobile
  src/pages/Wishlist.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

mobile: search: swipe-to-close
  src/components/SearchOverlay.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

nicer design for calendar
  src/components/TravelCalendar.tsx
  src/styles/calendar.css
Due: tsc --noEmit, eslint --fix, prettier --write

better swipe event handler
  src/components/ActionPanel.tsx
  src/components/SearchOverlay.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

fix swiping thing
  src/components/ActionPanel.tsx
  src/components/SearchOverlay.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

gdpr: remove all user data
  src/components/Header.tsx
  src/components/TravelCalendar.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

confirmation for all data removal
  src/components/Header.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

added remove-all for mobile
  src/components/SideMenu.tsx
Due: tsc --noEmit, eslint --fix, prettier --write

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md})
